.button {
    padding: 10px 20px;
    background-color: #0f0f0f98;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
  }

.button:hover {
    border-color: #396cd8;
}
  
.button:active {
    border-color: #396cd8;
    background-color: #0f0f0f69;
}

.light {
  background-color: #dddddd;
  color: #00000098;
}
  
.dark {
  background-color: #0f0f0f98;
  color: white;
}